/* box model */
*{
  box-sizing: border-box;
}
/* body bg color */
body{
  background-color: #F9F1DF;
}
/* style for header */
.header{
  font-family: monospace;
  padding: 20px;
  background-image: url("header.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #131E3A;
}
/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  overflow: hidden;
}
/* Links - change color on hover  */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* style for row */
.row{
  text-align: center;
  width: 100%;
  padding: 10px;
}
.row:after{
  content: "";
  display: table;
  clear: both;
}
